.container {
    width: 300px;
    height: 441px;
    padding: 20px;
    background: #EEE;
    BOX-SHADOW: 2px 2px 6px lightslategray;
    border-radius: 6px;
    margin-top: 50px;
    margin: auto;
    position: relative;
}

.CardStory {
    width: auto; 
    margin: 8px 0;
}

#chat-button {
    color: white;
    position: absolute;
    bottom: 18px;
}

.image-container {
    text-align: center;
}

.container .flex-100 {
    flex-basis: 100%;
}

h4 {
    font-weight: bold;
}


