.NavBar-welcome {
  color: black;
}


.NavBar-logo {
font-size: 25px;
padding: 10px 8px;
float: left;
color: white;
font-weight: 500;
}

#elizabeth {
  font-family: 'Sacramento', cursive;
  font-size: 30px; 
  color: black; 
}

.rose {
  height: 50px;
  width: 50px;
}

.NavBar {
  display: flex;
  justify-content: center;
  background-color: #FFC75F;
  color: #e42838;
  font-size: 18px;
}

.NavBar-link {
  margin: 0 10px;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.selected {
  color: red;
  border-radius: 30%;
}

.NavBar-link:hover {
  color: red;
}