.NavBar-welcome {
  color: black;
}

.NavBar {
background-color: #FFC75F;
height: 60px;
}

.NavBar-link, .NavBar-welcome {
color: black;
float: right;
padding: 15px 10px;
margin: 5px;
font-weight: 500;
}

.NavBar-logo {
font-size: 25px;
padding: 10px 8px;
float: left;
color: white;
font-weight: 500;
}

#elizabeth {
  font-family: 'Sacramento', cursive;
  font-size: 30px; 
  color: black; 
}

img {
  height: 50px;
  width: 50px;
}