.SupporterProfilesPage {
    display: flex; 
    flex-wrap: wrap;
    padding: 20px;
    width: 85vw;
}

.title {
    text-align: center;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

